{% extends 'base.html' %}
{% block content %}
    <h1 class="mt-5">Minha agenda</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Telefone</th>
                <th>Categoria</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                {% if contact.show %}
                    <tr>
                        <td>{{ contact.id }}</td>
                        <td>
                            <a href="{% url 'template_contact' contact.id %}">{{ contact.name }}</a>
                        </td>
                        <td>{{ contact.last_name }}</td>
                        <td>{{ contact.phone }}</td>
                        <td>{{ contact.category }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% for pagina in contacts.paginator.page_range %}
                {% if contact.number == pagina  %}
                    <li class="page-item" active>
                        <a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{ pagina }}</a>
                    </li>
                {% else %}
                    <li class="page-link" href="?p={{ pagina }}">
                        <a class="page-link" href="?p={{ pagina }}&termo={{ request.GET.termo }}">{{ pagina }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </nav>
    {% endblock %}
